.container{
    width: 95%;
    margin: 0 auto;
    padding: 10px;
}
p{
    font-size: 20px;
    font-weight: 600;
}
input{
    outline: 0;
    width: 100%;
    background: rgba(255,255,255,.1);
    color: #000!important;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 14px;
}